body
{
  font-family: 'Roboto', monospace;
}

.page-content {
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  margin-top: 40px;
}

.page-content img,
.page-content video {
  max-width: 80vw;
  height: 75vh;
  display: block;
  margin: 1.5rem auto;
}

.category-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.star-list
{
    list-style-type: "* ";
}

.current
{
    color: green;
}