body
{
  font-family: 'Roboto', monospace;
}

.page-content {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  margin-top: 40px;
}

.category-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.star-list
{
    list-style-type: "* ";
}

.current
{
    color: green;
}